{% extends 'clientheader.html' %}
{% load static %}
{% block content %}


<div class="page-title-area ptb-100">
<div class="container">
<div class="page-title-content">
<h1>FAQ</h1>
<ul>
<li class="item"><a href="index.html">Home</a></li>
<li class="item"><a href="faq.html"><i class='bx bx-chevrons-right'></i>FAQ</a></li>
</ul>
</div>
</div>
<div class="bg-image">
<img src="{% static 'client_assets/img/page-title-area/faq.jpg' %}" alt="Demo Image">
</div>
</div>


<section class="faq-section ptb-100 bg-light">
<div class="container">
<div class="section-title">
<h2>FAQ</h2>
<p>Travel has helped us to understand the meaning of life and it has helped us become better people. Each time we travel, we see the world with new eyes.</p>
</div>
<div class="panel-group" id="accordion">
<div class="row">
<div class="col-lg-12">
<div class="panel">
<div class="panel-heading">
<h4 class="panel-title">
<a class="collapsed" data-toggle="collapse" href="#collapse1">
What are the benefits to work with Venuez?
</a>
</h4>
</div>
<div id="collapse1" class="panel-collapse collapse show" data-parent="#accordion">
<div class="panel-body">
<p>VenueZbook is an interactive and user-friendly platform that provides wide range of wedding halls and party plots details. User can view hall details and can filter by  area/category or price range. User can book any hall online and also have option for online payment. User will also have option to add Decorators or Catering services. Admin can generate variety of reports and can also manage users profile.
</p>
</div>
</div>
</div>
<div class="panel">
<div class="panel-heading">
<h4 class="panel-title">
<a class="collapsed" data-toggle="collapse" href="#collapse2">
Where can I find out about new places?
</a>
</h4>
</div>
<div id="collapse2" class="panel-collapse collapse" data-parent="#accordion">
<div class="panel-body">
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
</div>
</div>
</div>
<div class="panel">
<div class="panel-heading">
<h4 class="panel-title">
<a class="collapsed" data-toggle="collapse" href="#collapse3">
How to pay a Booking?
</a>
</h4>
</div>
<div id="collapse3" class="panel-collapse collapse" data-parent="#accordion">
<div class="panel-body">
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
</div>
</div>
</div>
<div class="panel m-0">
<div class="panel-heading">
<h4 class="panel-title">
<a class="collapsed" data-toggle="collapse" href="#collapse4">
What will happen when I’ve sent my application?
</a>
</h4>
</div>
<div id="collapse4" class="panel-collapse collapse" data-parent="#accordion">
<div class="panel-body">
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

{% endblock %}
