{% extends 'clientheader.html '%}
{% load static %}
{% block content %}

<div class="page-title-area ptb-100">
<div class="container">
<div class="page-title-content">
<h1>Venues</h1>
<ul>
<li class="item"><a href="index.html">Home</a></li>
<li class="item"><a href="destinations.html"><i class='bx bx-chevrons-right'></i>Venues</a></li>
</ul>
</div>
</div>
<div class="bg-image">
<img src="{% static 'client_assets/img/page-title-area/destinations.jpg' %}" alt="Demo Image">
</div>
</div>




<section id="destination" class="destination-section ptb-100 bg-light">
<div class="container">
<div class="section-title">
<h2>Venues</h2>
</div>
<!--<div class="row filtr-container">-->
<!--   {% for data in Hall %}-->

<!--<div class="col-lg-4 col-md-6 filtr-item" data-category="1" data-sort="value">-->

<!--<div class="item-single mb-30">-->
<!--<div class="image">-->
<!--<img src="{% static 'client_assets/img/destination1.jpg' %}" alt="Demo Image">-->
<!--</div>-->
<!--<div class="content">-->
<!--<span class="location"><i class='bx bx-map'></i>Hvar, Croatia</span>-->
<!--<h3>-->
<!--<a href="/client/destination/{{data.hall_id}}">{{data.hall_name}}</a>-->
<!--</h3>-->
<!--<div class="review">-->
<!--<i class='bx bx-smile'></i>-->
<!--<span>8.5</span>-->
<!-- <span>Superb</span>-->
<!--</div>-->
<!--<p>-->
<!--A wonderful little cottage right on the seashore - perfect for exploring.-->
<!--</p>-->
<!--<hr>-->
<!--    {% for x in rate %}-->

<!--                                                {% if data.hall_id == x.feedback_id %}-->
<!--                                                {% if x.AVG == 5.0000 %}-->
<!--                                                    <span class="rate">-->
<!--                                                        <i class="fa fa-star"></i>-->
<!--                                                        <i class="fa fa-star"></i>-->
<!--                                                        <i class="fa fa-star"></i>-->
<!--                                                        <i class="fa fa-star"></i>-->
<!--                                                        <i class="fa fa-star"></i>-->
<!--                                                    </span>-->

<!--                                                {% elif x.AVG == 4.0000 %}-->
<!--                                                    <span class="rate">-->
<!--                                                        <i class="fa fa-star"></i>-->
<!--                                                        <i class="fa fa-star"></i>-->
<!--                                                        <i class="fa fa-star"></i>-->
<!--                                                        <i class="fa fa-star"></i>-->
<!--                                                    </span>-->
<!--                                                {% elif x.AVG == 3.0000 %}-->
<!--                                                    <span class="rate">-->
<!--                                                        <i class="fa fa-star"></i>-->
<!--                                                        <i class="fa fa-star"></i>-->
<!--                                                        <i class="fa fa-star"></i>-->
<!--                                                    </span>-->
<!--                                                {% elif x.AVG == 2.0000 %}-->
<!--                                                    <span class="rate">-->
<!--                                                        <i class="fa fa-star"></i>-->
<!--                                                        <i class="fa fa-star"></i>-->
<!--                                                    </span>-->
<!--                                                {% elif x.AVG == 1.0000 %}-->
<!--                                                    <span class="rate">-->
<!--                                                        <i class="fa fa-star"></i>-->
<!--                                                    </span>-->
<!--                                                {% endif %}-->
<!--                                                  {% endif %}-->
<!--    {% endfor %}-->
<!--<ul class="list">-->
<!--<li><i class='bx bx-time'></i>3 Days</li>-->
<!--<li><i class='bx bx-group'></i>160+</li>-->
<!--<li>$500</li>-->
<!--</ul>-->
<!--</div>-->

<!--<div class="spacer"></div>-->

<!--</div>-->

<!--</div>-->
<!--{% endfor %}-->

<!--<div class="col-lg-4 col-md-6 filtr-item" data-category="2, 1" data-sort="value">-->
<!--<div class="item-single mb-30">-->
<!--<div class="image">-->
<!--<img src="{% static 'client_assets/img/destination2.jpg' %}" alt="Demo Image">-->
<!--</div>-->
<!--<div class="content">-->
<!--<span class="location"><i class='bx bx-map'></i>Santorini, Oia, Greece</span>-->
<!--<h3>-->
<!--<a href="destination-details.html">Santorini, Oia, Greece</a>-->
<!--</h3>-->
<!--<div class="review">-->
<!--<i class='bx bx-smile'></i>-->
<!--<span>9</span>-->
<!--<span>Superb</span>-->
<!--</div>-->
<!--<p>-->
<!--A wonderful little cottage right on the seashore - perfect for exploring.-->
<!--</p>-->
<!--<hr>-->
<!--<ul class="list">-->
<!--<li><i class='bx bx-time'></i>7 Days</li>-->
<!--<li><i class='bx bx-group'></i>65+</li>-->
<!--<li>$2000</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="spacer"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-lg-4 col-md-6 filtr-item" data-category="2" data-sort="value">-->
<!--<div class="item-single mb-30">-->
<!--<div class="image">-->
<!--<img src="{% static 'client_assets/img/destination3.jpg' %}" alt="Demo Image">-->
<!--</div>-->
<!--<div class="content">-->
<!--<span class="location"><i class='bx bx-map'></i>Rialto Bridge, Italy</span>-->
<!--<h3>-->
<!--<a href="destination-details.html">Rialto Bridge</a>-->
<!--</h3>-->
<!--<div class="review">-->
<!--<i class='bx bx-smile'></i>-->
<!--<span>7.5</span>-->
<!--<span>Superb</span>-->
<!--</div>-->
<!--<p>-->
<!--A wonderful little cottage right on the seashore - perfect for exploring.-->
<!--</p>-->
<!--<hr>-->
<!--<ul class="list">-->
<!--<li><i class='bx bx-time'></i>5 Days</li>-->
<!--<li><i class='bx bx-group'></i>96+</li>-->
<!--<li>$2100</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="spacer"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-lg-4 col-md-6 filtr-item" data-category="2, 3" data-sort="value">-->
<!--<div class="item-single mb-30">-->
<!--<div class="image">-->
<!-- <img src="{% static 'client_assets/img/destination4.jpg' %}" alt="Demo Image">-->
<!--</div>-->
<!--<div class="content">-->
<!--<span class="location"><i class='bx bx-map'></i>Santorini, Oia, Greece</span>-->
<!--<h3>-->
<!--<a href="destination-details.html">Santorini, Oia, Greece</a>-->
<!--</h3>-->
<!--<div class="review">-->
<!--<i class='bx bx-smile'></i>-->
<!--<span>9</span>-->
<!--<span>Superb</span>-->
<!--</div>-->
<!--<p>-->
<!--A wonderful little cottage right on the seashore - perfect for exploring.-->
<!--</p>-->
<!--<hr>-->
<!--<ul class="list">-->
<!--<li><i class='bx bx-time'></i>7 Days</li>-->
<!--<li><i class='bx bx-group'></i>65+</li>-->
<!--<li>$2000</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="spacer"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-lg-4 col-md-6 filtr-item" data-category="1, 3" data-sort="value">-->
<!--<div class="item-single mb-30">-->
<!--<div class="image">-->
<!--<img src="{% static 'client_assets/img/destination5.jpg' %}" alt="Demo Image">-->
<!--</div>-->
<!--<div class="content">-->
<!--<span class="location"><i class='bx bx-map'></i>Oia, Greece</span>-->
<!--<h3>-->
<!--<a href="destination-details.html">Greek Cottage, Greece</a>-->
<!--</h3>-->
<!--<div class="review">-->
<!--<i class='bx bx-smile'></i>-->
<!--<span>8.5</span>-->
<!--<span>Superb</span>-->
<!--</div>-->
<!--<p>-->
<!--A wonderful little cottage right on the seashore - perfect for exploring.-->
<!--</p>-->
<!--<hr>-->
<!--<ul class="list">-->
<!--<li><i class='bx bx-time'></i>3 Days</li>-->
<!--<li><i class='bx bx-group'></i>160+</li>-->
<!--<li>$1500</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="spacer"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-lg-4 col-md-6 filtr-item" data-category="3, 1" data-sort="value">-->
<!--<div class="item-single mb-30">-->
<!--<div class="image">-->
<!--<img src="{% static 'client_assets/img/destination6.jpg' %}" alt="Demo Image">-->
<!--</div>-->
<!--<div class="content">-->
<!--<span class="location"><i class='bx bx-map'></i>Venice, Italy</span>-->
<!--<h3>-->
<!--<a href="destination-details.html">Metropolitan City</a>-->
<!--</h3>-->
<!--<div class="review">-->
<!--<i class='bx bx-smile'></i>-->
<!--<span>8.5</span>-->
<!--<span>Superb</span>-->
<!--</div>-->
<!--<p>-->
<!--A wonderful little cottage right on the seashore - perfect for exploring.-->
<!--</p>-->
<!--<hr>-->
<!-- <ul class="list">-->
<!--<li><i class='bx bx-time'></i>3 Days</li>-->
<!--<li><i class='bx bx-group'></i>160+</li>-->
<!--<li>$1500</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="spacer"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<div class="row">

<div class="col-lg-12 col-md-12">


<div class="container">

<div class="row">
     {% for data in Hall %}

<div class="col-lg-4 col-md-6">
<div class="item-single mb-30">
<div class="image">
<!--    <img src="{% static '/image/' %}{{h.h_path}}" alt="Demo Image"> {{h.h_path}}-->

<img src="{% static '/image/' %}{{data.h_path}}" alt="Demo Image"> {{data.h_path}}
</div>
<div class="content">
<!--<div class="review">-->
<!--<i class='bx bxs-star'></i>-->
<!--<i class='bx bxs-star'></i>-->
<!--<i class='bx bxs-star'></i>-->
<!--<i class='bx bxs-star'></i>-->
<!--<i class='bx bxs-star'></i>-->
<!--<span>39 Review</span>-->
<!--</div>-->
<div class="title">
<h3>
<a href="/client/hall_details/{{data.hall_id}}/">{{data.hall_name}}</a>
 </h3>
<span>$2000</span>
</div>
    {% for x in rate %}

                                                {% if data.hall_id == x.feedback_id %}
                                                {% if x.AVG == 5.0000 %}
                                                    <span class="rate">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </span>

                                                {% elif x.AVG == 4.0000 %}
                                                    <span class="rate">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                {% elif x.AVG == 3.0000 %}
                                                    <span class="rate">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                {% elif x.AVG == 2.0000 %}
                                                    <span class="rate">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                {% elif x.AVG == 1.0000 %}
                                                    <span class="rate">
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                {% endif %}
                                                  {% endif %}
    {% endfor %}
<ul class="list">

<li><i class='bx bx-time'></i>
    <a href="/client/packages/{{data.hall_id}}/"> view package details </li></a>
<li>$1500</li>
</ul>
</div>

</div>
</div>
        {% endfor %}

</div>
<!--<div class="pagination text-center">-->
<!--    <span class="page-numbers">-->
    <!--<a href="#" class="page-numbers">2</a>-->
    <!--<a href="#" class="page-numbers">3</a>-->
    <!--<a href="#" class="page-numbers">Next</a>-->
<!-- {% if Hall.has_other_pages %}-->
<!--  <ul class="pagination">-->
<!--    {% if Hall.has_previous %}-->
<!--      <li><a href="?page={{ Hall.previous_page_number }}">&laquo;</a></li>-->
<!--    {% else %}-->
<!--      <li class="disabled"><span>&laquo;</span></li>-->
<!--    {% endif %}-->
<!--    {% for i in Hall.paginator.page_range %}-->
<!--      {% if Hall.number == i %}-->
<!--        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>-->
<!--      {% else %}-->
<!--        <li><a href="?page={{ i }}">{{ i }}</a></li>-->
<!--      {% endif %}-->
<!--    {% endfor %}-->
<!--    {% if Hall.has_next %}-->
<!--      <li><a href="?page={{ Hall.next_page_number }}">&raquo;</a></li>-->
<!--    {% else %}-->
<!--      <li class="disabled"><span>&raquo;</span></li>-->
<!--    {% endif %}-->
<!--  </ul>-->
<!--{% endif %}-->
<!--</span>-->
<!--</div>-->
</div>

 </div>
</div>

</div>
    </div>

</section>



{% endblock %}