{% extends 'owner_header.html' %}
{% load static %}
{% block content %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title m-b-0">Gallery</h4>
            </li>
            <li class="breadcrumb-item">
              <a href="index.html">
                <i data-feather="home"></i></a>
            </li>
            <li class="breadcrumb-item">Gallery</li>
          </ul>
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Gallery</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Images</th>

                            <th>Hall_id</th>

                          </tr>
                        </thead>
                        <tbody>

                        {% for g in Gallery %}
                          <tr>
                            <td>{{g.gallery_id}}</td>
                            <td> <img src="{% static '/image/' %}{{g.g_path}} " height="100" width="100"/>{{g.g_path}}</td>
                            <td>{{g.hall_id.hall_name}}</td>
                          </tr>

                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        {% endblock %} </div>