{% extends 'header.html' %}
{% load static %}
{% block content %}
<script>
    function fetch_data()
    {
        var value = $("#hall_name").val();
        alert(value);
        $.ajax({
            url:"/owner/owner_report1/",
            type:"POST",
            data:{'hall_name':value},
            success:function(data)
            {

                $("#load_data").html(data);
            }
        });

    }
</script>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title m-b-0">Export Tables</h4>
            </li>
            <li class="breadcrumb-item">
              <a href="index.html">
                <i data-feather="home"></i></a>
            </li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item">Export Tables</li>
          </ul>
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Booking Table</h4>
                    <select name="hall_name" id="hall_name" onchange="fetch_data()">
                      {% for h in Hall %}
                      <option value="{{h.hall_id}}">
                        {{h.hall_name}}
                      </option>
                      {% endfor %}
                    </select>
                  </div>

                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                        <thead>
                          <tr>
                            <th>Booking ID</th>
                            <th>Booking Date</th>
                            <th>total</th>
                            <th>payment_status</th>
                            <th>order_status</th>
                            <th>Package_Name</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody id="load_data">

                    {% for b in Booking %}
                          <tr>

                            <td>{{b.booking_id}}</td>
                            <td>{{b.booking_date}}</td>
                            <td>
                            </td>
                            {% if b.payment_status == 0 %}
                            <td>Incomplete</td>
                            {% elif b.payment_status == 1 %}
                            <td>Complete</td>
                            {% else %}
                            {% endif %}

                            {% if b.order_status == 0 %}
                            <td>Pending</td>
                            {% elif b.order_status == 1 %}
                            <td> Accepted </td>
                            {% elif b.order_status == 2 %}
                            <td>Rejected</td>
                            {% else %}
                            {% endif %}
                            <td>{{b.package_id.package_name}}</td>
                           
                            <td>
                              {% if b.order_status == 0 %}
                              <a href="/order_accepted/{{b.booking_id}}">Accepted</a>
                              <a href="/order_rejected/{{b.booking_id}}">Rejected</a>
                              {% elif b.order_status == 2 %}
                              <a class="btn tblDelBtn" data-toggle="tooltip" title="" data-original-title="Delete">
                                <a href="/del_booking/{{b.booking_id}}">

                                <i class="material-icons">
                                  delete</i></a>
                              </a>
                              {% endif %}
                            </td>

                          </tr>
                        {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        {% endblock %} </div>