{% extends 'header.html' %}
{% load static %}
{% block content %}

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title m-b-0">Packages</h4>
            </li>
            <li class="breadcrumb-item">
              <a href="index.html">
                <i data-feather="home"></i></a>
            </li>
            <li class="breadcrumb-item">Show Packages</li>
          </ul>
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Show package</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Hall Name</th>
                          </tr>
                        </thead>
                        <tbody>

                        {% for p in Packages %}
                          <tr>
                            <td>{{p.package_id}}</td>
                            <td>{{p.package_name}}</td>
                            <td>{{p.package_type}}</td>
                            <td>{{p.package_desc}}</td>
                            <td>{{p.package_price}}</td>
                            <td>{{p.hall_id.hall_name}}</td>


                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        </div>
        {% endblock %}